* {
    padding: 0;
    margin: 0;
}

$textcolor: #e1e1e1;
$textcont: #18181a;
$bgcolor: #111112;
$secondary-bgcolor: #2a2a2c;
$highlight-color: #5d5d63;
$hover-lighten-factor: 10%; // Коэффициент осветления для hover

body {
    font-family: Arial, sans-serif;
    background-color: $bgcolor;
    color: $textcolor;
}

.Logo_Name,
section {
    background-color: $textcont;
    border-radius: 17px;
    padding: 35px;
    margin: 2% 7%;
}

.Logo_Name {
    border-radius: 25px;
    padding: 15px;
    width: 170px;
}

section {
    height: 400px;
}

.main_flex {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        min-width: 35px;
        min-height: 35px;
        background-color: $secondary-bgcolor;
        transition: background-color 0.3s ease; // Плавный переход

        &:hover {
            background-color: lighten($secondary-bgcolor, $hover-lighten-factor); // Осветляем цвет при наведении
        }
    }
}

.convInput {
    border-radius: 15px;
    height: 76px;
    margin: 0 7%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .12);
}

.Textinput-Control {
    color: $textcolor;
    border: 0;
    height: 66px;
    margin: 5px 7%;
    width: 60%;
    text-align: right;
    background-color: $textcont;
    outline: 0;
    font-size: 1.7em;

    // Убираем стрелки

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.buttonSelect {
    background-color: $secondary-bgcolor;
    margin: 10% 5%;
    width: 40%;
    height: 80%;
    border-radius: 15px;
    border: 0;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten($secondary-bgcolor, $hover-lighten-factor); // Осветляем цвет при наведении
    }

    button {
        margin: 13px 27px;
    }
}


.currencies {
    width: 68px;
    color: #fff;
    position: absolute;
    top: 207px;
    background-color: $secondary-bgcolor;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    transition: background-color 0.3s ease;

    li {
        &::before {
            background-color: $highlight-color;
        }

        &:hover {
            background-color: lighten($secondary-bgcolor, $hover-lighten-factor); // Осветляем цвет при наведении
        }
    }
}
